:root {
    color-scheme: dark;
    --color: #e4e6eB;
}

body {
    font-family: Roboto, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 1rem;
    margin: 0;
    color: var(--color);
    background-color: #18191a;
    -webkit-font-smoothing: antialiased;
}

.container {
    background-color: #242526;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 1rem;
}

.container > .header {
    margin-top: 0;
}

a {
    --color-link: #10ffe9;
    color: var(--color-link);
    text-decoration: none;
}

p {
    padding: 0 1rem;
}

.annotate {
    background-color: #1b1b1b;
    color: #6d6d6d;
}

h3 {
    padding: 0 1rem;
}


.header {
    text-align: center;
}

.header-ribbon {
    pointer-events: none;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 20;
    margin: 0 calc((var(--s) + var(--d)) * -1);

    --py: 10px;
    --s: 10px;
    --d: 10px;
    --c: 8px;

    padding: var(--py) calc(var(--s) + var(--d)) calc(var(--d) + var(--py));
    /*noinspection CssReplaceWithShorthandSafely*/
    background: conic-gradient(at left var(--s) bottom var(--d),
    #0000 25%, #0008 0 37.5%, #0004 0) 0   /50% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d), #0004 62.5%, #0008 0 75%, #0000 0) 100%/50% no-repeat;
    clip-path: polygon(0 var(--d), var(--s) var(--d), var(--s) 0, calc(100% - var(--s)) 0, calc(100% - var(--s)) var(--d), 100% var(--d), calc(100% - var(--c)) calc(50% + var(--d) / 2), 100% 100%, calc(100% - var(--s) - var(--d)) 100%, calc(100% - var(--s) - var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) 100%, 0 100%, var(--c) calc(50% + var(--d) / 2));
    /*noinspection CssReplaceWithShorthandSafely*/
    background-color: #470d12;
}

.canvas, .canvas-text {
    position: relative;
    user-select: none;
}

.canvas-text {
    font-family: JetBrainsMono, monospace;
    font-size: 14px;
    height: 0;
    pointer-events: none;
    color: #848484;
    z-index: 10;
    max-width: 100%;
    box-sizing: border-box;
    transform: translateY(1rem);
}
.canvas-text > div {
    padding-left: 1rem;
    padding-right: 1rem;
}

.canvas {
    background-color: #1e1e1e;
    touch-action: none;
}

.ar-1 {aspect-ratio: 1}
.ar-2 {aspect-ratio: 2}
.ta-r {text-align: right}

.canvas > canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.point {
    white-space: nowrap;
    background: #3a2eca;
    padding: 0.1rem 0.3rem;
    border-radius: .2rem;
}

.point b:first-child:after {
    content: ','
}

.no-ligatures {
    font-variant-ligatures: none;
}

pre {
    font-family: JetBrainsMono, monospace;
    font-size: 14px;
    line-height: 24px;
    padding: .5rem 1rem;
    background: black;
    overflow-x: auto;
}

label {
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    background-color: #161616;
    display: block;
    margin: 0 0 1rem;
}

[type=checkbox] {
    --input-background: #32a1ce;
    --m: 0px;
    --s: 16px;
    display: inline-block;
    box-sizing: border-box;
    appearance: none;
    width: calc(var(--s) - var(--m) * 2);
    height: calc(var(--s) - var(--m) * 2);
    margin: var(--m) calc(.5rem + var(--m)) var(--m) calc(var(--m));
    vertical-align: middle;
    border: 1px solid var(--input-background);
}

[type=checkbox]:checked {
    --m: 4px;
    outline: var(--m) double var(--input-background);
    background-color: var(--input-background);
}

@media (max-width: 840px) {
    body {
        padding: 0;
    }

    .container {
        max-width: 100%;
    }

    .header-ribbon {
        --d: 0px;
        --s: 0px;
        margin: 0;
        clip-path: none;
    }
}

