:root {
    color-scheme: dark;
    --color: #e4e6eB;
}

body {
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 1rem;
    margin: 0;
    color: var(--color);
    background-color: #18191a;
    -webkit-font-smoothing: antialiased;
}

.container {
    background-color: #242526;
    padding: 1rem;
    margin: 0 auto;
    max-width: 50rem;
    border-radius: 1rem;
}

.container > .header {
    margin-top: 0;
}

a {
    --color-link: #10ffe9;
    color: var(--color-link);
    text-decoration: none;
}

.header {
    text-align: center;
}

.header-ribbon {
    pointer-events: none;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 20;
    margin: 0 calc((var(--s) + 26px) * -1);

    --py: 10px;
    --s: 10px;
    --d: 10px;
    --c: 8px;

    padding: var(--py) calc(var(--s) + var(--d)) calc(var(--d) + var(--py));
    /*noinspection CssReplaceWithShorthandSafely*/
    background: conic-gradient(at left var(--s) bottom var(--d),
    #0000 25%, #0008 0 37.5%, #0004 0) 0   /50% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
            #0004 62.5%, #0008 0 75%, #0000 0) 100%/50% no-repeat;
    clip-path: polygon(0 var(--d), var(--s) var(--d), var(--s) 0, calc(100% - var(--s)) 0, calc(100% - var(--s)) var(--d), 100% var(--d), calc(100% - var(--c)) calc(50% + var(--d) / 2), 100% 100%, calc(100% - var(--s) - var(--d)) 100%, calc(100% - var(--s) - var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) calc(100% - var(--d)), calc(var(--s) + var(--d)) 100%, 0 100%, var(--c) calc(50% + var(--d) / 2));
    /*noinspection CssReplaceWithShorthandSafely*/
    background-color: #470d12; /* the main color */
    /* width: fit-content; you may need to use this in your code if the element is full width */
}

.canvas, .canvas-text {
    position: relative;
    margin-left: -1rem;
    margin-right: -1rem;
    user-select: none;
}

.canvas-text {
    height: 0;
    pointer-events: none;
    color: #848484;
    transform: translate(1rem, 1rem);
    z-index: 10;
}

.canvas {
    background-color: #1e1e1e;
}

.ar-1 {aspect-ratio: 1}
.ar-2 {aspect-ratio: 2}
.canvas-distance-line {height: 200px}

.canvas > canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.point {
    white-space: nowrap;
    background: #3a2eca;
    padding: 0.1rem 0.3rem;
    border-radius: .2rem;
}

.point b:first-child:after {
    content: ','
}

pre {
    font-size: 14px;
    line-height: 16px;
    padding: .5rem 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    background: black;
    overflow-x: auto;
}
