:root {
    color-scheme: dark;
    --color: #e4e6eB;
}

body {
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 1rem;
    margin: 0;
    color: var(--color);
    background-color: #18191a;
    -webkit-font-smoothing: antialiased;
}

.container {
    background-color: #242526;
    padding: 1rem;
    margin: 0 auto;
    max-width: 50rem;
    border-radius: 1rem;
}

.container > .header {
    margin-top: 0;
}

a {
    --color-link: #10ffe9;
    color: var(--color-link);
    text-decoration: none;
}

.header {
    text-align: center;
}

.ar2 {aspect-ratio: 2}

.canvas {
    position: relative;
}

.canvas > canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.point {
    white-space: nowrap;
    background: #3a2eca;
    padding: 0.1rem 0.3rem;
    border-radius: .2rem;
}

.point b:first-child:after {
    content: ','
}
